
   <!DOCTYPE html>
       <head>
           <meta charset="utf-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <title></title>
           <meta name="description" content="">
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="css/userinfo.css">
       </head>
       <body>
        <header>
            <h1> Choose Your API</h1>
            <%- include('../partial/userinfo') %> 
        </header>
        <div id = 'box'> </div>
        <div id = 'box'> </div>
           <div id = 'img'>
               <div>
                <a href="/movies">
                    <img alt="" height="500px" width = '600px' src="/img/Movie.jpg"
                    width=150" height="70">
                 </a>
               
               </div>
               
               <div id = 'box'> </div>

               <div>
                <a href="/random">
                    <img alt="" height="500px" width = '600px' src="/img/half-body-set-multiple-people-business_18591-3462.jpg"
                    width=150" height="70">
                 </a>
               </div>
           </div>
           <script src="" async defer></script>
       </body>
   </html>